@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html{
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  /* overflow: hidden; Locomotive handles scroll */
}

[data-scroll-container] {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}
html,
body,
#root {
  background-color: #000000; /* match SplashScreen background */
  margin: 0;
  padding: 0;
}



